<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/proyecto_biologico/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>iNDUSTRIAS biologicas-quimicas</title>
</head>
<body class="fondo"> 
    

<!-- el coso de navar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" >Industrias biologicas <img src="/proyecto_biologico/downloads/1668 sin título_20230807151431.png" class="img-thumbnail" alt="..."></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            dirreciones
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">tegnologias</a></li>
            <li><a class="dropdown-item" href="#">imvestigaciones</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">modelos</a></li>
          </ul>
        </li> 
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true"></a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!-- aca termina el coso de navar -->
<!-- empieza el coso de iniciar sesion -->
      <div class="sin-ing">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle custom-dropdown" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                inicio de sesion
            </button>
            <form class="dropdown-menu p-4">
              <div class="mb-3">
                <label for="exampleDropdownFormEmail2" class="form-label">Email </label>
                <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
              </div>
              <div class="mb-3">
                <label for="exampleDropdownFormPassword2" class="form-label">contraseña</label>
                <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
              </div>
              <div class="mb-3">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                  <label class="form-check-label" for="dropdownCheck2">
                    recordar
                  </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">corfirmacion </button>
            </form>
        </div>
    </div>
<!-- termina el coso de sesion -->
<!-- card -->
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://img.craiyon.com/2023-08-07/403260f28cde4e8aae450d68f2bce107043c82a4.webp" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"> A. D. N</h5>
              <p class="card-text">info de ADN.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
<!-- find de card    -->
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>